h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 5px;
}

#subtitles {
  display: flex;
  justify-content: space- space-between;
  gap: 40px;
}

.party-item {
  width: 500px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
}
.party-item:hover {
  background-color: rgb(169, 168, 173);
}

#party-details {
  margin-top: 10px;
  max-width: 900px;
  line-height: 1.4;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

#date {
  margin-bottom: 4px;
}

#location {
  font-style: italic;
  margin-bottom: 8px;
}
