h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 5px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgb(70, 67, 219);
  color: rgb(131, 33, 33);
}

#subtitles {
  display: flex;
  justify-content: space-evently;
  gap: 40px;
}

.party-item {
  color: rgb(69, 44, 211);
  width: 600px;
  font-size: 20px;
  text-shadow: 0.5px 0.5px rgb(141, 15, 15);
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
  transition: padding 0.15s ease, font-weight 0.15s ease,
    background-color 0.15s ease;
}
.party-item:hover {
  background-color: rgb(169, 168, 173);
  font-weight: bold;
  padding: 15px 20px;
}

#right-column-div {
  max-width: 80%;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

#date {
  margin-bottom: 4px;
}

#location {
  font-style: italic;
  margin-bottom: 8px;
}
#description {
  font-size: 20px;
}

h2 {
  font-size: 30px;
  color: rgb(131, 33, 33);
  text-shadow: 0 1px black;
  text-decoration: underline;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#party-names {
  font-weight: bold;
}

body {
  background-color: lightgray;
}
